ABOUT-NLS
m4/*
*.o
ltmain.sh
mkinstalldirs
depcomp
*.gmo
*.desktop
Makefile.in.in
configure.in
libtool
configure
configure.ac
Makefile
Makefile.in
intltool-*
config.*
stamp-it
stamp-h1
POTFILES
*.m4
*.la
*.lo
.deps
.libs
xfce4-dict
xfce4-dict-plugin
missing
install-sh
compile
autom4te*
INSTALL
xfce4-dict-*.tar.bz2
lib/resources.c
lib/resources.h
lib/dbus.c
lib/dbus.h
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/remove-potcdate.sed
po/stamp-po
po/xfce4-dict.pot
