*.o
ltmain.sh
mkinstalldirs
depcomp
*.gmo
*.desktop
Makefile.in.in
.intltool-merge-cache
configure.in
libtool
configure
Makefile
Makefile.in
intltool-*
config.*
stamp-it
stamp-h1
POTFILES
*.m4
*.la
*.lo
.deps
.libs
xfce4-dict
xfce4-dict-plugin
missing
install-sh
compile
autom4te*
